/* soft skil   */

#softskill {
  max-width: 900px;
  /* min-height: 50vh; */
  margin: auto;
  border: 20px solid transparent;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border: 20px solid transparent;
}
#softskillChild {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.softskill {
  text-align: center;
  max-height: 40px;
  font-size: 1.2rem;
  background-color: rgb(49, 136, 250);
  color: white;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
  letter-spacing: 1px;
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  align-items: center;
  border: 10px solid transparent;
  border-radius: 20px;
  cursor: zoom-in;
  padding: 10px 5px;
}
.softskill:hover {
  transform: scale(1.2, 1.2);
  transition-duration: 1s;
  background-color: orange;
}


/* // teck stack  */

.teckChild img {
  height: 50px;
  width: 50px;
}
.techBox,
.teckChild {
  display: flex;
  flex-wrap: wrap;
}

#teckstack {
  max-width: 800px;
  /* min-height: 50vh; */
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 10px solid transparent;
}

.techStackHead {
  font-size: 1.8rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(50, 130, 235);
  border: 10px solid transparent;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 30%;
  margin-right: 30px;
  box-shadow: 1px 2px 4px 3px rgb(95, 132, 243);
  color: white;
  text-transform: capitalize;
  font-weight: bold;
}

#teckStackTitle {
  margin-bottom: 100px;
  display: block;
}

.techBox {
  border-bottom: 10px solid transparent;
}

.teckChild > :nth-child(n + 1) {
  padding: 10px;
  box-shadow: 1px 2px 2px 1px rgb(190, 205, 252);
  margin-right: 20px;
  text-align: center;
  height: 50px;
  width: 50px;
}

.teckChild > :nth-child(n + 1):hover {
  transition-duration: 1s;
  background-color: rgb(235, 216, 183);
  background-color: orange;
  border-radius: 20px;
  box-shadow: 1px 2px 2px 1px brown;
  transform: rotate(360deg);
}

@media all and (min-width: 590px) and (max-width: 760px) {
  .techStackHead {
    font-size: 1.2rem;
    width: 20%;
    margin-right: 20px;
  }
  .teckChild > :nth-child(n + 1) {
    margin-right: 10px;
  }
}

@media all and (min-width: 200px) and (max-width: 591px) {
  .techBox {
    display: flex;
    flex-direction: column;
  }
  .techStackHead {
    width: 90%;
    margin-bottom: 20px;
    font-size: 1rem;
    box-shadow: 2px 2px 4px 4px rgb(169, 186, 235);
  }
}
